/.idea/
/android/gradle/
/android/.gradle/
/android/.idea/
/android/build/
/android/build.gradle.kts
/android/app/build.gradle.kts
/android/gradle.properties
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/local_history.patch
/android/settings.gradle.kts
